body {
    background-color: rgb(245, 245, 245);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;  
}

h1 {
    margin: 0;
}

#title {
    margin: 0;
    font-size: 32px;
    padding: 5px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "delius unicase";


    /* background-color: green; */
}

#gameblock {
    /* background-color: red; */
    padding: 0 10px 10px 10px;
}

#container {
    background-color: white;
    border: 1px solid #ddd;

    width: min(100vw, 600px);
    height: min(100vh, 400px);
}

#lobby {
    /* background-color: coral; */
}

#gameroom {
    display: none;
    /* background-color: red; */
}

#end-screen {
    display: none;
    /* background-color: green; */
}
